<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Experience</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css" />
    <link href="/stylesheets/register.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
</head>
<body>
    <nav>
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark mb-4">
            <div class="container">
                <a class="navbar-brand" href="/">Hello</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mobile-nav">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="mobile-nav">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item"><a class="nav-link" href="/profile/all/<%= user._id %>"> Profiles</a></li>
                    </ul>
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item"><a class="nav-link" href="/dashboard/<%= user._id%>">Dashboard</a></li>
                        <li class="nav-item">
                            <a href="/login" class="nav-link">
                                <img class="rounded-circle" src="<%= user.avatar %>" alt="chirag" title="You must have a Gravatar connected to your email to display an image" style="width: 25px; margin-right: 5px;">Logout
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </nav>
    <div class="container">
            <div class="row">
                <div class="col-md-8 m-auto">
                    <h1 class="text-center">Add Experience</h1>
                    <form action="/experience/save/<%= profileid %>" method="post">
                        <div class="form-group">
                            <input name="title" type="text" class="form-control form-control-lg" placeholder="Title *" value="">
                        </div>
                        <div class="form-group">
                            <input name="company" type="text" class="form-control form-control-lg" placeholder="Company *" value="">
                        </div>
                        <div class="form-group">
                            <input name="location" type="text" class="form-control form-control-lg" placeholder="Location" value="">
                        </div>
                        <div class="form-group">
                            <input name="from" type="date" class="form-control form-control-lg" value="">
                        </div>
                        <div class="form-group">
                            <input name="to" type="date" class="form-control form-control-lg" value="">
                        </div>
                        <div class="form-check mb-4">
                            <input name="current" type="checkbox" class="form-check-input" />
                            <label for="current" class="form-check-label">Current Position</label>
                        </div>
                        <div class="form-group">
                            <textarea name="description" type="text" class="form-control form-control-lg" placeholder="Job Description" value=""></textarea>
                        </div>
                        <div class="form-group text-center">
                            <input type="submit" class="btn-create-profile" value="Add Experience"/><br/>
                        </div>
                        
                    </div>
                </form>
            </div>
        </div>
        <div>
            <footer class="bg-dark text-white mt-5 p-4 text-center">Copyright © 2020 Profiles.com</footer>
        </div>
    </body>
</html>