
<div class="conatiner">
  <h1 class="mt-4">Welcome to your Dashboard</h1>
  <p class="lead mb-3"><%= user.firstName %> - <%= user.lastName %>  </p>
  <img src='<%= user.avatar %>' alt="">
  <div class="container">    
    <a href="/profile/<%= user._id%>" class="btn btn-secondary">Create Profile</a>
  </div>

</div>