<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css" />
    <link href="stylesheets/login.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container-fluid register">
        <div class="row">
            <div class="col-md-9 register-left">
                <h3 class="register-heading">Login</h3>
                <form action="/login" method="POST">
                    <div class="row register-form">
                        <div class="col-md-6 mx-auto">
                            <% if (displayAlert) { %>
                                <div class="alert alert-secondary" role="alert"><%= message %></div>
                              <% } %>
                            
                            <div class="form-group">
                                <input name="email" type="email" class="form-control" placeholder="Email *" value="">
                            </div>
                            <div class="form-group">
                                <input name="password" type="password" class="form-control" placeholder="Password *" value="">
                            </div>
                            <div class="form-group text-center">
                                <input type="submit" class="btnRegister" value="Login">
                            </div>
                        </div>
                    </div>
                </form>

            </div>
            <div class="col-md-3 register-right">
                <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt=""/>
                <h3>Welcome</h3>
                <p>You are now 17 weeks away from becoming a fullstack developer!</p>
                <form action="/" method="get">
                    <input type="submit" value="Register"/>
                </form>
            </div>
        </div>
    </div>
    <div>
        <footer class="bg-dark text-white mt-5 p-4 text-center">Copyright © 2020 Profiles.com</footer>
    </div>
  </body>
</html>
